.UserHeader{
    /* Complementary style for userheader component */
    /* background-color in tailwind is indigo 50 */
    
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-top-right-radius:50px;
    
}
 /* color .vl is indigo 50 in tailwind */
.vl {
    border-left: 2px solid #eef2ff;
    height: 39px;
    margin-right: 5px;
  }
 
.btns{
    background-color: #f2f2f2;
    color: #40189d;
    border-radius: 50px;
    font-weight: 600;
    padding: 6px;
}
.btns:active {
    background-color: #40189d;
    color: #f2f2f2;
  }
  