@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #40189d;
  --gray-color: #f2f2f2;
  --light-color:#d2cfff;
  --secondary-color:#a69fff;
  --dark-color:#211c6f;
}
body {
  direction: rtl;
}
.bg-primary {
  background: var(--primary-color);
}
.gray-color{
  background: var(--gray-color);
}
